<nav>
    <li>
        <h1><a href="/appointment" id="iconfont"><span>T</span>ask</a></h1>
    </li>

    <li id="navigator">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/appointment">Appointment</a>
    </li>
</nav>