<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <%- include("../parts/nav.ejs") %>
        <h1 id="about_task">About T<span class="logo">ask</span></h1>
        <section id="about_ourteam">
            <h2>Who We are</h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt enim cumque tenetur laudantium earum,
                exercitationem minima voluptatum officia quasi! Totam sapiente, nostrum commodi cupiditate nulla
                similique officiis. Culpa aspernatur, fuga architecto exercitationem natus, omnis placeat, ullam illo
                quo dolorum cupiditate?
            </p>
            <h2>Our services</h2>
            <ul>
                <li>Electronics</li>
                <li>Computer</li>
                <li>Hardware</li>
                <li>Cable</li>
            </ul>
        </section>

        <%- include("../parts/footer") %>
</body>

</html>