<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task-app</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <%- include("../parts/nav.ejs") %>
        <h1 class="home_head">Welcome to Task Services</h1>
        <p class="home_content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum incidunt illo quod tempora possimus
            quaerat molestias velit, impedit, excepturi assumenda optio dolorum quis dignissimos omnis tempore rerum
            qui
            id aspernatur.
        </p>
        <section class="page_refer">
            <h3>For Booking Services</h3>
            <p>Go to the appointment page or Click Task icon</p>
        </section>

        <%- include("../parts/footer") %>
</body>

</html>